Body{
    background-color: black;
    color:white;
    font-family:"Lato", sans-serif;
    font-size: 1rem;
    a:link{
        color:white;
        
    }
}




.wrapper{
    position: relative;
    overflow: hidden; 
    padding-left: 200px;
    padding-right: 50px;

}
.img-solar {
    border-radius:50px;
    width:90%;
}



.text{
    position: absolute;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    /* z-index: 5;
    display:flex;
    flex-direction: column; 
    /* text-align: center; */
    padding-left:20%;
    padding-top: 30%;
    font-weight:bold;

}
.tour-text{
    padding-top: 30px;
}
.highlight::after{
    content: " ";
    position: absolute;
    background: lightskyblue;
    width:100px;
    height:15px;
    display:inline-block;
    right:0;
    bottom: 10px;
    z-index:-1;

}
.highlight{
    position:relative;
}
.h1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 14%;
}
a{
    text-decoration: none;   
}
ul{
    list-style-type: none;
    padding-right: 260px;
    padding-top: 10px;
}
li{
    display: inline-block;
    padding-left:px;
}
li a{
    font-size:18px;
    font-weight:bold;
    margin-right: 25px;
}
button{
    background-color: lightblue; border-radius:20px; padding:2px; margin-left:10x; width:100px;
}
a:hover{
    background-color: aquamarine; border-radius:20px;padding:2px;
}
button:hover{
    background-color:aquamarine;border-radius:20px;padding:2px; margin-left:10px;
}
  h2{
    padding-left:12%;
    padding-top: 2%;
  }
.box-container{
    display:grid;
    grid-template-columns: repeat(6,2fr 2fr 2fr);
    /* padding:15px 12%;
    padding-bottom: 100px; */

}
main p{
    display:grid;
    grid-row:2;
    margin-left:230%;
    display:
    
    
   
}
.box1{
    display:grid;
    grid-row:3;
}
.box{
    margin-left: 200%;
}

 