Body{
    background-color: black;
    color:white;
    font-family:"Lato", sans-serif;
    font-size: 1rem;
       
    
}

main {
    margin: 0 100px;
    
}

.wrapper{
    position: relative;
    overflow: hidden;
    
    /* padding-left: 200px;
    padding-right: 50px; */

}
.img-solar {
    border-radius:50px;
    /* width:90%; */
    
}



.text{
    position: absolute;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    z-index: 5;
    display:flex;
    flex-direction: column; 
    justify-content: end;
    padding:0 50px 100px;
    font-weight:bold;

}
.colorshift{
    background: -webkit-linear-gradient(0deg, blue,rgb(113, 213, 226));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    background-position: 0% 50%;
}
.tour-text{
    padding-top: 30px;
}
    .highlight::after{
    content: " ";
    position: absolute;
    background: lightskyblue;
    width:100px;
    height:15px;
    display:inline-block;
    right:0;
    bottom: 10px;
    z-index:-1;
    } 

.highlight{
    position:relative;
}
.h1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 14%; */
    .highlight::after{
        content:" ";
        position:absolute;
        background:lightskyblue;
        width:100px;
        /* height:15px; */
        display:inline-block;
        right:0;
        bottom:10px;
        z-index:-1;
    }
    highlight{
        position:relative;
    }
}
nav ul li :hover {
background: skyblue;
}
 nav ul li:nth-child(3) {
    background:lightskyblue;
    border-radius: 20px;
    
 }
    
    
a{
    text-decoration: none;  
    color:white;
    font-weight: bold;
    border-radius: 10px; 
    padding:5px;
}

/* Unvisited links */
main a:link{
background-color:skyblue;
} 
/* visited links */
 main a:visited{

    background-color:purple;
}
/* link hovered */
main a:hover{
    background:skyblue;
}

ul{
    list-style-type: none;
    padding-right: 260px;
    padding-top: 10px;
    
}


li{
    display: inline-block;
    padding-left:40x;
}
li a{
    font-size:18px;
    font-weight:bold;
    margin-right: 25px;
    
}


a:hover{
    /* background-color: aquamarine; border-radius:20px;padding:2px; */
}
/* button:hover{
    background:skyblue} */
   
  h2{
    /* padding-top: 2%; */
  }
.box-container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    /* padding:15px 12%;
    padding-bottom: 100px; */

}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer{
    
    padding:5% 40%;
    
}

  /*media queries  */
@media screen and (min-width: 400px)and (max-width: 950px){
    
    .h1{
        display:flex;
    flex-direction: column; 
    align-items: center;
    width:100%;
    }
    
     .box-container{
        display:grid;
        grid-template-columns: repeat(3,1fr);
     }
      
}
@media screen and (max-width: 740px){
    .h1{
     
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      /* padding-left: 0%; */
    }

   
}
